DEBUG=False
APCD_EARLIEST=2025-03-01

AIRTABLE_ACCESS_TOKEN=

#AIRTABLE_BASE_ID=
# test base
AIRTABLE_BASE_ID=
AIRTABLE_EPI_DISEASE_TABLE_ID=
AIRTABLE_EPI_REPORTS_TABLE_ID=
AIRTABLE_EPI_INFECTIONS_TABLE_ID=
AIRTABLE_EPI_RT_ESTIMATES_TABLE_ID=
AIRTABLE_EPI_HOSPITAL_TABLE_ID=
AIRTABLE_MPOX_TABLE_ID=

S3_BUCKET=test
S3_ADDRESS=oss.resilientservice.mooo.com
S3_PORT=443
S3_USE_SSL=true
S3_ACCESS_KEY=
S3_SECRET_KEY=

PUBLIC_BUCKET=test

# in apps SLACK_TOKEN, SLACK_CHANNEL
SLACK_TOKEN=
SLACK_CHANNEL=



#
OPENAI_API_KEY=
OPENAI_BASE_URL=https://llm.nrp-nautilus.io
OPENAI_BASE_MODEL=llama3
PURPLE_AIR_API_KEY_READ=
PURPLE_AIR_API_KEY_WRITE=
AIRNOW_API_KEY=

RESILIENTSIMS_SERVER_URL=https://sims.resilientservice.mooo.com
RESILIENTSIMS_API_PATH=/api/v1
RESILIENTSIMS_USERNAME=
RESILIENTSIMS_PASSWORD
RESILIENTSIMS_BUCKET=resilientseasonal
RESILIENTSIMS_SIMULATOR_ID=16

RESILIENTLLM_API_TOKEN=
SLACK_SIMS_CHANNEL=test

FORECAST_NETILFY_PREVIEW_HOOK=https://api.netlify.com/build_hooks/
FORECAST_NETILFY_PRODUCTION_HOOK=https://api.netlify.com/build_hooks/
FORECAST_NETLIFY_PREVIEW_URL=
FORECAST_NETLIFY_PRODUCTION_URL=
FORECAST_NETLIFY_REJECT_MESSAGE="Please edit the prompts in Airtable and trigger a new preview when ready."
TRIGGER_PREVIEW_HOOK=
FORECAST_AIRTABLE_RSV_PORTAL_RECORDID=rec4NITTQNAONirhd
FORECAST_AIRTABLE_RSV_PORTAL_RECORDNAME=CoSD-ILI-Report
FORECAST_AIRTABLE_UPDATES_TABLE_ID=Updates
FORECAST_AIRTABLE_WIDGETS_TABLE_ID=Widgets
FORECAST_AIRTABLE_WIDGETS_RECORDID=

