# Slack Configuration
SLACK_BOT_TOKEN=xoxb-your-bot-token
SLACK_APP_TOKEN=xapp-your-app-token
SLACK_CHANNEL_ID=C0123456789

FORECAST_NETILFY_PREVIEW_HOOK=https://api.netlify.com/build_hooks/68e6ec4bd7244675a2e975a5
FORECAST_NETILFY_PRODUCTION_HOOK=https://api.netlify.com/build_hooks/68e523135fe419079125cb36
FORECAST_NETLIFY_PREVIEW_URL=https://devserver-production-portals--resilient-epi-portals.netlify.app/portal/CoSD-ILI-Report
FORECAST_NETLIFY_PRODUCTION_URL=https://epi-portals.resilienthub.orgportal/CoSD-ILI-Report

# Netlify Configuration
NETLIFY_PREVIEW_URL=https://preview.example.netlify.app
NETLIFY_PRODUCTION_URL=https://example.netlify.app
NETLIFY_PREVIEW_HOOK=https://api.netlify.com/build_hooks/your-preview-hook-id
NETLIFY_PRODUCTION_HOOK=https://api.netlify.com/build_hooks/your-production-hook-id

# Custom Messages
NETLIFY_REJECT_MESSAGE=Please edit the prompts in Airtable and trigger a new preview when ready.

# Webhook Configuration (optional)
WEBHOOK_SECRET=your-secret-key-for-dagster-webhook
WEBHOOK_PORT=5000

# Webhook Configuration (optional)
#WEBHOOK_SECRET=abcde12345
WEBHOOK_PORT=5001
DAGSTER_GRAPHQL_ENDPOINT=http://localhost:3000/graphql
DAGSTER_WORKSPACE=public

EMAIL_ENABLED=false
#he sender email address (e.g., `"notifications@example.com"`)
#EMAIL_FROM=notifications@example.com
#EMAIL_PASSWORD=
# Recipient email addresses (comma-separated for multiple recipients: `"user1@example.com,user2@example.com"`)
#EMAIL_TO=
#EMAIL_SMTP_SERVER="smtp.custom-server.com"
#EMAIL_SMTP_PORT="587"
